body{
	font-size: 62.5%;
}

.wrapper{
	max-width: 960px;
	margin: 3em auto;
	padding: 0em 3em;
}

/***********************************************
 ** Header 
 ***********************************************/

header{
	border-bottom: 1px solid #eee;
	padding-bottom: 3em;
}

header h1{
	font-size: 3em;
	font-style: italic;
}

/***********************************************
 ** Main 
 ***********************************************/

.slider{
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.slider-items{
	width: 100%;
	height: 100%;
	position: relative;
}

.slider-item{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	background-repeat: none;
	background-position: center;
	background-size: cover;
}

.slider .previous-slider-item{
	left: -100%;
}

.slider .next-slider-item{
	left: 100%;
}

.slider-item h2{
	position: absolute;
	bottom: 50px;
	left: 50%;
	width: 200px;
	margin-left: -115px;
	margin-top: -36px;
	padding: 15px;
	background: #000;
	background: rgba(0,0,0,.8);
	font-size: 4em;
	color: #fff;
	text-align: center;
}

.slider-pagers{display: none;}

#main-text{
	font-size: 1.8em;
	line-height: 1.5em;
}

#main-text .wrapper{
	-moz-column-count: 2;
	-moz-column-gap: 1.5em;
}

#main-text h2{
	font-size: 1.33333333333333em;
	font-weight: bold;
	font-style: italic;
	margin-bottom: .75em;
}

#main-text p{
	margin-bottom: 1.5em;
}